
.app {

  min-height: 100vh;
  width: calc(100vw - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px auto;
  padding: 0 30px;
  text-align: center;
  gap: 10px;
}

.nav {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 10px;
}

.disableCacheContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}